fastapi==0.115.0
mangum==0.17.0
sqlalchemy==2.0.36
pymysql==1.1.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.12
boto3==1.35.0
pydantic-settings==2.6.0
alembic==1.18.4